box2d-py==2.3.8
cloudpickle==3.0.0
contourpy==1.1.1
cycler==0.12.1
fonttools==4.43.1
gym==0.21.0
importlib-resources==6.1.0
kiwisolver==1.4.5
matplotlib==3.7.3
numpy==1.24.4
packaging==23.2
Pillow==10.1.0
pygame==2.5.2
pyglet==1.5.27
pyparsing==3.1.1
python-dateutil==2.8.2
-e git+https://github.com/Jeetu95/Rocket_Lander_Gym.git@46d061aeb22802e9bd462d026707b31a58bb954b#egg=rocket_lander_gym
six==1.16.0
zipp==3.17.0
